
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/config/database.yml
/config/credentials.yml.enc
/config/master.key
/config/secrets.yml
.byebug_history
coverage/*

/spec/tmp

*.swp

# Ignore master key for decrypting credentials and more.
/config/master.key
