!!!
%html
%body
  %p
    Hello, #{@name}
    %br
    We are glad that you have decided to use our app service.
    %br
    Your Registration has been initiated from our end, We will contact you soon to confirm your registartion.
    %br
    Thank-you for your intrest!
  %p
    Thanks and regards,
    %br
    %b CabTab Team 
